.App {
  text-align: center;
}

.calendar {
  display: flex;
  flex-direction: column;
}

.month {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day,
.blank {
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 80px;
}

.blank {
  background-color: #f3f3f3;
}

.day:hover {
  background-color: #ddd;
}

.current-date {
  background-color: blue;
  color: white;
}


@media screen and (max-width: 600px) {
  .month {
    margin: 10px;
  }
}